workspace cleanup
git update ${VERSION}
git co ${VERSION}
build ${VERSION} --project Build
build ${VERSION} --project Commons
build ${VERSION} --project JPA
release distribute ${VERSION} --project JPA
quit
